<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Jesse Kaukonen - Art portfolio</title>
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="lightbox.css" rel="stylesheet">
		<link href="gallery.css" rel="stylesheet">
	</head>
	<body>
		<div class="lightbox-gallery">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Jesse Kaukonen - Art Portfolio</h2>
                    <p class="text-center">I started practising art in 2023. This is a gallery showing my progress. <p class="text-center">For my novels and other things, see my <a href="https://jessekaukonen.net">main website</a>.
				</div>
				<div class="row photos">
					REPLACE_GALLERY
				</div>
			</div>
		<footer class="text-center text-lg-start bg-white text-muted">
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
				<p>Source code for this gallery is available at <a href="https://github.com/SirDifferential/art-portfolio">https://github.com/SirDifferential/art-portfolio</a></p>
			</div>
		</footer>
		</div>
	</body>
</html>
